div#grid {
  position: relative;
  display: inline-block;
  border: 1px solid black;
}
div.tile {
  position: absolute;
  box-sizing: border-box;
  border: 1px solid black;
}
div.squid {
  pointer-events: none;
}
div.squidIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
div.health {
  background-color: green;
  border-right: 1px solid black;
  border-top: 1px solid black;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 2px;
}
div.ink {
  background-color: blue;
  border-left: 1px solid black;
  border-top: 1px solid black;
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 2px;
}
div.floatingTextAnchor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
div.floatingText {
  position: relative;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  animation: floatingTextKF 1s ease;
  opacity: 0;
  z-index: 1;
}
div.heal {
  color: green;
}
div.damage {
  color: red;
}
div.inkRefill {
  color: blue;
}
@keyframes floatingTextKF {
  0% {
    opacity: 1;
    top: 0px;
  }
  100% {
    opacity: 0;
    top: -50px;
  }
}
div#info {
  display: inline-block;
  vertical-align: top;
}
div#squidInfo {
  vertical-align: top;
  width: 120px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
}
div#weaponInfo {
  vertical-align: top;
  width: 200px;
  display: inline-block;
}
div#weaponInfo img {
  width:200px;
}
.possibleMove {
  background-color: rgba(0,0,255,0.5) !important
}
.submerged {
  opacity: 0.5;
}
.possibleAttack {
  background-color: rgba(0,0,0,0.2) !important
}